<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.tailwindcss.com"></script>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css">
</head>

<body>
    <div class="w-[1912px] h-[108px] bg-[#222933]">
        <img class="ml-[20px] md:ml-[280px] absolute top-[10px]" src="https://uzmovi.net/images/logo.gif" alt="">
        <div class="flex items-center justify-center p-[40px] text-[17px] text-[#a5bbdc] ml-[350px] ">
            <h1 class="hover:bg-blue-600 ">Bosh sahifa</h1>
            <h1 class="ml-[20px] hover:bg-blue-100">Kinolar</h1>
            <h1 class="ml-[20px] hover:bg-red-600">Seriallar</h1>
            <h1 class="ml-[20px] hover:bg-blue-400">Janr </h1>
            <h1 class="ml-[20px] hover:bg-orange-600">Yil </h1>
            <h1 class="ml-[20px] hover:bg-green-600">Mamlakat </h1>
            <h1 class="ml-[20px] hover:bg-yellow-600">kino yangiliklar </h1>
        </div>
        <div class="bg-[#0f172a] h-[90px] overflow-x-auto ">
            <div class="flex gap-[8px] px-[10px] pt-[8px]  ml-[290px] ">

                <img onclick="openModal()" src="https://story.uzmovi.net/2026-06-01/80x80_1780267162_3eae0faf3e22d68ead8d.jpg"
                    class="w-[56px] h-[56px] rounded-full border-2 cursor-pointer  hover:scale-110  hover:shadow-lg">

                <img onclick="openModal()" src="https://story.uzmovi.net/2026-06-01/80x80_1780267121_5e259840ffbe48b23585.jpg"
                    class="w-[56px] h-[56px] rounded-full border-2 cursor-pointer hover:scale-110  hover:shadow-lg">

                <img onclick="openModal()" src="https://story.uzmovi.net/2026-06-01/80x80_1780267036_12666fbd1c40394fb45a.jpg"
                    class="w-[56px] h-[56px] rounded-full border-2 cursor-pointer hover:scale-110  hover:shadow-lg">

                <img onclick="openModal()" src="https://story.uzmovi.net/2026-06-01/80x80_1780266926_b529ec4d499acc8a5e04.jpg"
                    class="w-[56px] h-[56px] rounded-full border-2 cursor-pointer hover:scale-110  hover:shadow-lg">

                <img onclick="openModal()" src="https://story.uzmovi.net/2026-05-09/80x80_1778326150_ad263b2682d54a772d73.jpg"
                    class="w-[56px] h-[56px] rounded-full border-2 cursor-pointer hover:scale-110  hover:shadow-lg">

                <img onclick="openModal()" src="https://story.uzmovi.net/2025-09-04/80x80_1756994279_218849a712443df004fe.jpeg"
                    class="w-[56px] h-[56px] rounded-full border-2 cursor-pointer hover:scale-110  hover:shadow-lg">

                <img onclick="openModal()" src="https://story.uzmovi.net/2025-02-03/80x80_1738606149_e09a5a84b681a7f9aa68.jpg"
                    class="w-[56px] h-[56px] rounded-full border-2 cursor-pointer hover:scale-110  hover:shadow-lg">

                <img onclick="openModal()" src="https://story.uzmovi.net/2025-02-04/80x80_1738665888_83ae697974db1a7db4b3.jpg"
                    class="w-[56px] h-[56px] rounded-full border-2 cursor-pointer hover:scale-110  hover:shadow-lg">

                <img onclick="openModal()" src="https://story.uzmovi.net/2025-02-11/80x80_1739287523_6595822b3fa342a089e1.jpg"
                    class="w-[56px] h-[56px] rounded-full border-2 cursor-pointer hover:scale-110  hover:shadow-lg">

                <img onclick="openModal()" src="https://story.uzmovi.net/2026-03-09/80x80_prev_69ade0c09c5484.53283051.jpg"
                    class="w-[56px] h-[56px] rounded-full border-2 cursor-pointer hover:scale-110  hover:shadow-lg">

                <img onclick="openModal()" src="https://story.uzmovi.net/2025-05-18/80x80_1747586161_c33d09a4463777f3ce8e.jpg"
                    class="w-[56px] h-[56px] rounded-full border-2 cursor-pointer hover:scale-110  hover:shadow-lg">

                <img onclick="openModal()" src="https://story.uzmovi.net/2026-01-24/80x80_prev_6973de5b921e33.57923772.jpg"
                    class="w-[56px] h-[56px] rounded-full border-2 cursor-pointer hover:scale-110  hover:shadow-lg">

                <img onclick="openModal()" src="https://story.uzmovi.net/2025-02-13/80x80_1739444058_0e616c0dbe640860127f.jpg"
                    class="w-[56px] h-[56px] rounded-full border-2 cursor-pointer hover:scale-110  hover:shadow-lg">

                <img onclick="openModal()" src="https://story.uzmovi.net/2026-03-23/80x80_prev_69c073aa9fb665.48314790.jpg"
                    class="w-[56px] h-[56px] rounded-full border-2 cursor-pointer hover:scale-110  hover:shadow-lg">

                <img onclick="openModal()" src="https://story.uzmovi.net/2025-02-13/80x80_1739443638_3e0c785c31a6fa62e564.jpg"
                    class="w-[56px] h-[56px] rounded-full border-2 cursor-pointer hover:scale-110  hover:shadow-lg">

                <img onclick="openModal()" src="https://story.uzmovi.net/2025-10-10/80x80_1760092685_443f95a7a8d9406cc23c.jpg"
                    class="w-[56px] h-[56px] rounded-full border-2 cursor-pointer hover:scale-110  hover:shadow-lg">

                <img onclick="openModal()" src="https://story.uzmovi.net/2025-03-13/80x80_1741837948_adcfe16fe67c3e396570.jpeg"
                    class="w-[56px] h-[56px] rounded-full border-2 cursor-pointer hover:scale-110  hover:shadow-lg">

            </div>
        </div>


        <div id="modal" class="hidden fixed  flex items-center justify-center">
            <div class=" p-3 rounded-lg relative w-[400px] ">
                <button onclick="closeModal()" class="absolute top-[1px] right-[2px] text-white text-xl">
                    x
                </button>
                <video controls class="w-full rounded mt-[-150px] w-[200px]">
                    <source src="" type="">
                </video>
            </div>
        </div>
        <script>
            function openModal() {
                document.getElementById("modal").classList.remove("hidden");
            }

            function closeModal() {
                document.getElementById("modal").classList.add("hidden");
            }
        </script>
        <div class="w-full bg-[#0b1623] p-[20px]">

            <div class="flex justify-between items-center">

                <div class="flex gap-[10px] ml-[270px]">
                    <a href="https://uzmovi.net/user/login">

                        <button class="h-[38px] px-[14px] bg-[#1f2937] border border-gray-600 text-white">
                            <i class="bi bi-person"></i> Kirish
                        </button>
                    </a>
                    <a href=" https://uzmovi.net/user/register">
                        <button class="h-[38px] px-[14px] bg-[#1f2937] border border-gray-600  text-white">
                            Ro'yxatdan o'tish
                        </button>
                    </a>

                </div>

                <div class="flex gap-[10px] justify-center items-center absolute left-[1220px] ">
                    <button class="w-[40px] h-[40px] bg-[#1f2937] border border-gray-600 rounded text-white"><i
                            class="bi bi-leaf"></i></button>
                    <button class="w-[40px] h-[40px] bg-[#1f2937] border border-gray-600 rounded text-white"><i
                            class="bi bi-border-all"></i></button>
                    <button class="w-[40px] h-[40px] bg-[#1f2937] border border-gray-600 rounded text-white"><i
                            class="bi bi-envelope"></i></button>
                    <button class="w-[40px] h-[40px] bg-[#1f2937] border border-gray-600 rounded text-white"><i
                            class="bi bi-exclamation-circle"></i></button>
                </div>

            </div>

            <div class="mt-[25px] relative ml-[270px]">

                <input type="text" placeholder="Qidirish..."
                    class="w-[1130px] h-[40px] bg-[#1f2937] border border-gray-600 rounded-[10px] pl-[15px] pr-[45px] text-white ">

                <span class="absolute right-[500px] top-[8px] text-white text-[22px]">
                    <i class="bi bi-search"></i>
                </span>

            </div>

        </div>
    </div>
</body>

</html>