<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.tailwindcss.com"></script>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css">
</head>

<body>
    <div class="w-full h-[108px] bg-[#222933] relative">
        <img src="https://uzmovi.net/images/logo.gif" class="absolute left-[100px]  top-[20px] w-[170px] " alt="">
        <div
            class="hidden lg:flex h-full items-center justify-center gap-2 text-[#a5bbdc] text-[14px] absolute left-[620px]">
            <a href=""
                class="w-[117px] h-[101px] border-b-[2px] border-orange-500  hover:bg-orange-500 px-[8px] py-[4px] flex items-center justify-center ">
                Bosh sahifa
            </a>
            <div class="relative">
                <button onclick="toggleKinolar()"
                    class="w-[117px] h-[101px] flex items-center justify-center border-b-[2px] border-green-500 hover:bg-green-500 px-[8px] py-[4px] text-[#a5bbdc]">
                    Kinolar <i class="bi bi-caret-down-fill m-[10px]"></i>
                </button>

                <div id="kinolarMenu"
                    class="hidden absolute top-[100%] left-[-380px] mt-[8px] bg-[#232f3d] p-[12px] rounded-[6px] z-[50] w-[1170px] h-[91px] flex ">

                    <button class="block border  border-gray-600 px-[16px] mb-[6px] ">Tarjima kino</button>
                    <button class="block border  border-gray-600 px-[16px] mb-[6px]">Premyera</button>
                    <button class="block border  border-gray-600 px-[16px] mb-[6px]">Hind kino</button>
                    <button class="block border  border-gray-600 px-[16px] mb-[6px] ">Multfilm</button>
                    <button class="block border  border-gray-600 px-[16px] mb-[6px] ">Multfilm</button>
                    <button class="block border  border-gray-600 px-[16px] mb-[6px] ">Multfilm</button>
                    <button class="block border  border-gray-600 px-[16px] mb-[6px] ">Multfilm</button>
                    <button class="block border  border-gray-600 px-[16px] mb-[6px] ">Multfilm</button>


                </div>

            </div>

            <a href="#"
                class="w-[117px] h-[101px] flex items-center justify-center border-b-2 border-cyan-500 hover:bg-cyan-500 px-[8px] py-[4px] ">
                Seriallar
            </a>

            <a onclick="toggleKinolari()" href="#"
                class=" w-[117px] h-[101px] flex items-center justify-center  border-b-2 border-red-500 hover:bg-red-500 px-[8px] py-[4px]">
                Janr <i class="bi bi-caret-down-fill m-[10px]"></i>
            </a>

            <div id="kinolarMenuu"
                class="hidden absolute top-[100%] left-[60px] mt-[8px] bg-[#232f3d] p-[12px] rounded-[6px] z-[50] w-[1170px] h-[91px] flex">

                <button class="block border border-gray-600 px-[16px] py-[8px] mb-[6px]">Tarjima kino</button>
                <button class="block border  border-gray-600 px-[16px] py-[8px] mb-[6px]">Premyera</button>
                <button class="block border  border-gray-600 px-[16px] py-[8px] mb-[6px]">Hind kino</button>
                <button class="block border  border-gray-600 px-[16px] py-[8px] mb-[6px]">Hind kino</button>
                <button class="block border  border-gray-600 px-[16px] py-[8px] mb-[6px]">Hind kino</button>
                <button class="block border  border-gray-600 px-[16px] py-[8px] mb-[6px]">Hind kino</button>
                <button class="block border  border-gray-600 px-[16px] py-[8px] mb-[6px]">Hind kino</button>
                <button class="block border  border-gray-600 px-[16px] py-[8px] mb-[6px]">Hind kino</button>

                <button class="block border  border-gray-600 px-[16px] py-[8px] mb-[6px] ">Multfilm</button>
                </div>
            <a onclick="toggleKinolarii()" href="#"
                class=" w-[117px] h-[101px] flex items-center justify-center  border-b-2 border-yellow-500 hover:bg-yellow-500 px-[8px] py-[4px]">
                Yil <i class="bi bi-caret-down-fill m-[10px]"></i>
            </a>

            <div id="kinolarMenuuu"
                class="hidden absolute top-[100%] left-[50px] mt-[8px] bg-[#232f3d] p-[12px] rounded-[6px] z-[50] w-[1170px] h-[91px] flex ml-[10px]">

                <button class="block border border-gray-600 px-[16px] py-[8px] mb-[6px] ml-[10px]">Tarjima kino</button>
                <button class="block border  border-gray-600 px-[16px] py-[8px] mb-[6px] ml-[10px]">Premyera</button>
                <button class="block border  border-gray-600 px-[16px] py-[8px] mb-[6px]">Hind kino</button>
                <button class="block border  border-gray-600 px-[16px] py-[8px] mb-[6px]">Hind kino</button>
                <button class="block border  border-gray-600 px-[16px] py-[8px] mb-[6px]">Hind kino</button>
                <button class="block border  border-gray-600 px-[16px] py-[8px] mb-[6px]">Hind kino</button>
                <button class="block border  border-gray-600 px-[16px] py-[8px] mb-[6px]">Hind kino</button>

                <button class="block border  border-gray-600 px-[16px] py-[8px] mb-[6px]">Multfilm</button>

            </div>

            <a onclick="toggleKinolariii()" href="#"
                class=" w-[117px] h-[101px] flex items-center justify-center  border-b-2 border-purple-500 hover:bg-purple-500 px-[8px] py-[4px]">
                Mamlakat <i class="bi bi-caret-down-fill m-[10px]"></i>
            </a>

            <div id="kinolarMenuuuu"
                class="hidden absolute top-[100%] left-[40px] mt-[8px] bg-[#232f3d] p-[12px] rounded-[6px] z-[50] w-[1170px] h-[91px] flex">

                <button class="block border border-gray-600 px-[16px] py-[8px] mb-[6px]">Tarjima kino</button>
                <button class="block border  border-gray-600 px-[16px] py-[8px] mb-[6px]">Premyera</button>
                <button class="block border  border-gray-600 px-[16px] py-[8px] mb-[6px]">Hind kino</button>
                <button class="block border  border-gray-600 px-[16px] py-[8px] mb-[6px]">Hind kino</button>
                <button class="block border  border-gray-600 px-[16px] py-[8px] mb-[6px]">Hind kino</button>
                <button class="block border  border-gray-600 px-[16px] py-[8px] mb-[6px]">Hind kino</button>

                <button class="block border  border-gray-600 px-[16px] py-[8px] mb-[6px]">Multfilm</button>

            </div>

            <a href="#"
                class=" w-[117px] h-[101px] flex items-center justify-center  border-b-2 border-orange-500 hover:bg-orange-500 px-[8px] py-[4px]">
                Kino yangiliklari
            </a>

        </div>


        <button onclick="toggleMenu()"
            class="lg:hidden absolute right-[3px] top-[20px] bg-[#4a315f] border border-purple-500 text-white w-[90px] h-[40px] rounded">
            MENYU ☰
        </button>

    </div>

    <div id="mobileMenu" class="hidden lg:hidden bg-[#222933] text-[#a5bbdc] ">
        <div class="block p-[4px] border-b border-orange-500 ">BOSH SAHIFA</div>
        <a class="block p-[4px] border-b border-green-500">KINOLAR</a>
        <a class="block p-[4px] border-b border-cyan-500">SERIALLAR</a>
        <a class="block p-[4px] border-b border-red-500">JANR</a>
        <a class="block p-[4px] border-b border-yellow-500">YIL</a>
        <a class="block p-[4px] border-b border-purple-500">MAMLAKAT</a>
        <a class="block p-[4px] border-b border-orange-500">KINO YANGILIKLARI</a>
    </div>

    <script>
        function toggleMenu() {
            document.getElementById("mobileMenu").classList.toggle("hidden");
        }

        function toggleKinolar() {
            document.getElementById("kinolarMenu").classList.toggle("hidden");

        }
        function toggleKinolari() {
            document.getElementById("kinolarMenuu").classList.toggle("hidden");
            }
        function toggleKinolari() {
            document.getElementById("kinolarMenuuu").classList.toggle("hidden");

        }
        function toggleKinolari() {
            document.getElementById("kinolarMenuuuu").classList.toggle("hidden");

        }
        function toggleKinolarii() {
            document.getElementById("kinolarMenuuuu").classList.toggle("hidden");

        }
        function toggleKinolariii() {
            document.getElementById("kinolarMenuuuu").classList.toggle("hidden");

        }
    </script>


    <style>
        html,
        body {

            height: 100%;
        }

        body {

            font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
            font-size: 14px;
            color: #fff;
            margin: 0;
            padding: 0;

        }

        swiper-container {
            width: 1170px;
            height: 80px;
            margin: 310px;
        }

        swiper-slide {
            text-align: center;
            font-size: 18px;

            display: flex;
            justify-content: center;
            align-items: center;
            display: none;
        }

        swiper-slide img {
            display: block;
            width: 100%;
            height: 100%;
            margin: 180px;
            object-fit: cover;
            display: none;
        }
    </style>
    </head>

    <body>

        <swiper-container class="mySwiper  h-[90px] overflow-x-auto md: mt-[-25px] " pagination="true"
            pagination-clickable="true" slides-per-view="4" space-between="30" centered-slides="true">
            <swiper-slide> <img onclick="openModal()"
                    src="https://story.uzmovi.net/2025-03-13/80x80_1741837948_adcfe16fe67c3e396570.jpeg"
                    class="w-[56px] h-[56px] rounded-full border-2 cursor-pointer hover:scale-110  hover:shadow-lg"></swiper-slide>
            <swiper-slide> <img onclick="openModal()"
                    src="https://story.uzmovi.net/2025-03-13/80x80_1741837948_adcfe16fe67c3e396570.jpeg"
                    class="w-[56px] h-[56px] rounded-full border-2 cursor-pointer hover:scale-110  hover:shadow-lg ml-[40px]"></swiper-slide>
            <swiper-slide> <img onclick="openModal()"
                    src="https://story.uzmovi.net/2025-03-13/80x80_1741837948_adcfe16fe67c3e396570.jpeg"
                    class="w-[56px] h-[56px] rounded-full border-2 cursor-pointer hover:scale-110  hover:shadow-lg ml-[-90px]"></swiper-slide>
            <swiper-slide> <img onclick="openModal()"
                    src="https://story.uzmovi.net/2025-03-13/80x80_1741837948_adcfe16fe67c3e396570.jpeg"
                    class="w-[56px] h-[56px] rounded-full border-2 cursor-pointer hover:scale-110  hover:shadow-lg ml-[-220px]"></swiper-slide>
            <swiper-slide> <img onclick="openModal()"
                    src="https://story.uzmovi.net/2025-03-13/80x80_1741837948_adcfe16fe67c3e396570.jpeg"
                    class="w-[56px] h-[56px] rounded-full border-2 cursor-pointer hover:scale-110  hover:shadow-lg ml-[-340px]"></swiper-slide>
            <swiper-slide> <img onclick="openModal()"
                    src="https://story.uzmovi.net/2025-03-13/80x80_1741837948_adcfe16fe67c3e396570.jpeg"
                    class="w-[56px] h-[56px] rounded-full border-2 cursor-pointer hover:scale-110  hover:shadow-lg ml-[-450px]"></swiper-slide>
            <swiper-slide> <img onclick="openModal()"
                    src="https://story.uzmovi.net/2025-03-13/80x80_1741837948_adcfe16fe67c3e396570.jpeg"
                    class="w-[56px] h-[56px] rounded-full border-2 cursor-pointer hover:scale-110  hover:shadow-lg ml-[-580px]"></swiper-slide>
            <swiper-slide> <img onclick="openModal()"
                    src="https://story.uzmovi.net/2025-03-13/80x80_1741837948_adcfe16fe67c3e396570.jpeg"
                    class="w-[56px] h-[56px] rounded-full border-2 cursor-pointer hover:scale-110  hover:shadow-lg ml-[-690px]"></swiper-slide>
            <swiper-slide> <img onclick="openModal()"
            src="https://story.uzmovi.net/2025-03-13/80x80_1741837948_adcfe16fe67c3e396570.jpeg"
                    class="w-[56px] h-[56px] rounded-full border-2 cursor-pointer hover:scale-110  hover:shadow-lg ml-[-790px]"></swiper-slide>
            <swiper-slide> <img onclick="openModal()"
                    src="https://story.uzmovi.net/2025-03-13/80x80_1741837948_adcfe16fe67c3e396570.jpeg"
                    class="w-[56px] h-[56px] rounded-full border-2 cursor-pointer hover:scale-110  hover:shadow-lg ml-[-790px]"></swiper-slide>
            <swiper-slide> <img onclick="openModal()"
                    src="https://story.uzmovi.net/2025-03-13/80x80_1741837948_adcfe16fe67c3e396570.jpeg"
                    class="w-[56px] h-[56px] rounded-full border-2 cursor-pointer hover:scale-110  hover:shadow-lg ml-[-790px]"></swiper-slide>
            <swiper-slide> <img onclick="openModal()"
                    src="https://story.uzmovi.net/2025-03-13/80x80_1741837948_adcfe16fe67c3e396570.jpeg"
                    class="w-[56px] h-[56px] rounded-full border-2 cursor-pointer hover:scale-110  hover:shadow-lg ml-[-790px]"></swiper-slide>
            <swiper-slide> <img onclick="openModal()"
                    src="https://story.uzmovi.net/2025-03-13/80x80_1741837948_adcfe16fe67c3e396570.jpeg"
                    class="w-[56px] h-[56px] rounded-full border-2 cursor-pointer hover:scale-110  hover:shadow-lg ml-[-790px]"></swiper-slide>

            <swiper-slide> <img onclick="openModal()"
                    src="https://story.uzmovi.net/2025-03-13/80x80_1741837948_adcfe16fe67c3e396570.jpeg"
                    class="w-[56px] h-[56px] rounded-full border-2 cursor-pointer hover:scale-110  hover:shadow-lg ml-[-790px]"></swiper-slide>
            <swiper-slide> <img onclick="openModal()"
                    src="https://story.uzmovi.net/2025-03-13/80x80_1741837948_adcfe16fe67c3e396570.jpeg"
                    class="w-[56px] h-[56px] rounded-full border-2 cursor-pointer hover:scale-110  hover:shadow-lg ml-[-790px]"></swiper-slide>
            <swiper-slide> <img onclick="openModal()"
                    src="https://story.uzmovi.net/2025-03-13/80x80_1741837948_adcfe16fe67c3e396570.jpeg"
                    class="w-[56px] h-[56px] rounded-full border-2 cursor-pointer hover:scale-110  hover:shadow-lg ml-[-790px]"></swiper-slide>
            <swiper-slide> <img onclick="openModal()"
                    src="https://story.uzmovi.net/2025-03-13/80x80_1741837948_adcfe16fe67c3e396570.jpeg"
                    class="w-[56px] h-[56px] rounded-full border-2 cursor-pointer hover:scale-110  hover:shadow-lg ml-[-790px]"></swiper-slide>
            <swiper-slide> <img onclick="openModal()"
                    src="https://story.uzmovi.net/2025-03-13/80x80_1741837948_adcfe16fe67c3e396570.jpeg"
                    class="w-[56px] h-[56px] rounded-full border-2 cursor-pointer hover:scale-110  hover:shadow-lg ml-[-790px]"></swiper-slide>
            <swiper-slide> <img onclick="openModal()"
                    src="https://story.uzmovi.net/2025-03-13/80x80_1741837948_adcfe16fe67c3e396570.jpeg"
                    class="w-[56px] h-[56px] rounded-full border-2 cursor-pointer hover:scale-110  hover:shadow-lg ml-[-790px]"></swiper-slide>
            <swiper-slide> <img onclick="openModal()"
                    src="https://story.uzmovi.net/2025-03-13/80x80_1741837948_adcfe16fe67c3e396570.jpeg"
                    class="w-[56px] h-[56px] rounded-full border-2 cursor-pointer hover:scale-110  hover:shadow-lg ml-[-790px]"></swiper-slide>
            <swiper-slide> <img onclick="openModal()"
                    src="https://story.uzmovi.net/2025-03-13/80x80_1741837948_adcfe16fe67c3e396570.jpeg"
                    class="w-[56px] h-[56px] rounded-full border-2 cursor-pointer hover:scale-110  hover:shadow-lg ml-[-790px]"></swiper-slide>
            <swiper-slide> <img onclick="openModal()"
                    src="https://story.uzmovi.net/2025-03-13/80x80_1741837948_adcfe16fe67c3e396570.jpeg"
                    class="w-[56px] h-[56px] rounded-full border-2 cursor-pointer hover:scale-110  hover:shadow-lg ml-[-790px]"></swiper-slide>
            <swiper-slide> <img onclick="openModal()"
                    src="https://story.uzmovi.net/2025-03-13/80x80_1741837948_adcfe16fe67c3e396570.jpeg"
                    class="w-[56px] h-[56px] rounded-full border-2 cursor-pointer hover:scale-110  hover:shadow-lg ml-[-790px]"></swiper-slide>
            <swiper-slide> <img onclick="openModal()"
                    src="https://story.uzmovi.net/2025-03-13/80x80_1741837948_adcfe16fe67c3e396570.jpeg"
                    class="w-[56px] h-[56px] rounded-full border-2 cursor-pointer hover:scale-110  hover:shadow-lg ml-[-790px]"></swiper-slide>
        </swiper-container>

        <script src="https://cdn.jsdelivr.net/npm/swiper@12/swiper-element-bundle.min.js"></script>

        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" />

        <style>
            .swiper {
                max-width: 1290px;
                width: 100%;
                background: #161D25;
                padding: 20px 0;
                margin: 0 auto;
                margin-top: -15px;
            }

            .swiper-slide {
                display: flex;
                justify-content: center;
                align-items: center;

                width: auto !important;
            }

            .circle-avatar {
                width: 56px;
                height: 56px;
                border-radius: 50%;
                border: 4px solid #3a4a5a;
                overflow: hidden;
                cursor: pointer;
                transition: transform 0.3s ease;
            }


            .circle-avatar:hover {
                transform: scale(1.15);
            }

            .circle-avatar img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }

            .somsa {
                width: 100%;
                max-width: 1910px;
                height: auto;
                min-height: 116px;
                background: #161D25;
                display: flex;
                align-items: center;
                margin: 0 auto;
                position: relative;
                top: -375px;
                left: -10px;
            }
        </style>
        </head>

        <body>

            <div class="somsa mt-[-700px]">
                <div class="swiper mySwiper">
                    <div class="swiper-wrapper">

                        <div class="swiper-slide">
                            <div class="circle-avatar">
                                <img src="https://story.uzmovi.net/2026-06-01/80x80_1780267162_3eae0faf3e22d68ead8d.jpg"
                                    alt="Kino">
                            </div>
                        </div>

                        <div class="swiper-slide">
                            <div class="circle-avatar">
                                <img src="https://story.uzmovi.net/2026-06-01/80x80_1780267121_5e259840ffbe48b23585.jpg"
                                    alt="Kino">
                            </div>
                        </div>

                        <div class="swiper-slide">
                            <div class="circle-avatar">
                                <img src="https://story.uzmovi.net/2026-06-01/80x80_1780267036_12666fbd1c40394fb45a.jpg"
                                    alt="Kino">
                            </div>
                        </div>

                        <div class="swiper-slide">
                            <div class="circle-avatar">
                                <img src="https://story.uzmovi.net/2026-06-01/80x80_1780266926_b529ec4d499acc8a5e04.jpg"
                                    alt="Kino">
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="circle-avatar">
                                <img src="https://story.uzmovi.net/2026-05-09/80x80_1778326150_ad263b2682d54a772d73.jpg"
                                    alt="Kino">
                            </div>
                        </div>

                        <div class="swiper-slide">
                            <div class="circle-avatar">
                                <img src="https://story.uzmovi.net/2026-02-08/80x80_prev_6988713395b6d1.29696837.jpg"
                                    alt="Kino">
                            </div>
                        </div>

                        <div class="swiper-slide">
                            <div class="circle-avatar">
                                <img src="https://story.uzmovi.net/2025-02-11/80x80_1739287567_8a9f3b7916591af896f7.jpg"
                                    alt="Kino">
                            </div>
                        </div>

                        <div class="swiper-slide">
                            <div class="circle-avatar">
                                <img src="https://story.uzmovi.net/2025-02-13/80x80_1739443767_9bd8223c5c210fac46f0.jpg"
                                    alt="Kino">
                            </div>
                        </div>

                        <div class="swiper-slide">
                            <div class="circle-avatar">
                                <img src="https://story.uzmovi.net/2026-02-09/80x80_prev_6989cd52c3db83.70353608.jpg"
                                    alt="Kino">
                            </div>
                        </div>

                        <div class="swiper-slide">
                            <div class="circle-avatar">
                                <img src="https://story.uzmovi.net/2026-02-08/80x80_prev_69886cd7188e74.96443417.jpg"
                                    alt="Kino">
                            </div>
                        </div>

                        <div class="swiper-slide">
                            <div class="circle-avatar">
                                <img src="https://story.uzmovi.net/2026-03-03/80x80_prev_69a6c5d0a0df69.53657849.jpg"
                                    alt="Kino">
                            </div>
                        </div>

                        <div class="swiper-slide">
                            <div class="circle-avatar">
                                <img src="https://story.uzmovi.net/2026-03-23/80x80_prev_69c06e216bed05.18749912.jpg"
                                    alt="Kino">
                            </div>
                        </div>

                        <div class="swiper-slide">
                            <div class="circle-avatar">
                                <img src="https://story.uzmovi.net/2025-03-13/80x80_1741837948_adcfe16fe67c3e396570.jpeg"
                                    alt="Kino">
                            </div>
                        </div>

                        <div class="swiper-slide">
                            <div class="circle-avatar">
                                <img src="https://story.uzmovi.net/2026-03-07/80x80_prev_69ab33cd995a17.49036738.jpg"
                                    alt="Kino">
                            </div>
                        </div>

                        <div class="swiper-slide">
                            <div class="circle-avatar">
                                <img src="https://story.uzmovi.net/2025-02-13/80x80_1739444326_1b34d6c4299fb903aa5e.jpg"
                                    alt="Kino">
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="circle-avatar">
                                <img src="https://story.uzmovi.net/2026-03-03/80x80_prev_69a6c28be9de54.36170438.jpg"
                                    alt="Kino">
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="circle-avatar">
                                <img src="https://story.uzmovi.net/2026-03-23/80x80_prev_69c06e216bed05.18749912.jpg"
                                    alt="Kino">
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="circle-avatar">
                                <img src="https://story.uzmovi.net/2026-03-03/80x80_prev_69a6c5d0a0df69.53657849.jpg"
                                    alt="Kino">
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="circle-avatar">
                                <img src="https://story.uzmovi.net/2025-02-13/80x80_1739443767_9bd8223c5c210fac46f0.jpg"
                                    alt="Kino">
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="circle-avatar">
                                <img src="https://story.uzmovi.net/2026-02-08/80x80_prev_69886cd7188e74.96443417.jpg"
                                    alt="Kino">
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="circle-avatar">
                                <img src="https://story.uzmovi.net/2026-02-09/80x80_prev_6989cd52c3db83.70353608.jpg"
                                    alt="Kino">
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>

            <script>
                var swiper = new Swiper(".mySwiper", {
                    slidesPerView: "auto",
                    spaceBetween: 18,
                    grabCursor: true,
                    freeMode: true,
                });
            </script>

</body>

</html>